* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    padding: 0;
    width: 50%;  
}



body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    
}

.white{
    background-color: white;
}

.font-yellow {
    color: #EAC926;
}

.bg-yellow {
    background-color: #EAC926;
}

.font-blue {
    color: #03264C;
}

.bg-blue {
   background-color:  #03264C;
}

.font-light-blue {
    color: #1259c3;
}

.bg-light-blue {
    background-color: #1259c3;
}

.font-dark-grey {
    color: #666;
}

.bg-dark-grey {
    background-color: #666;
}

.font-light-grey {
    color: #ebebeb;
}

.bg-light-grey {
    background-color: #ebebeb;
    border-left: 15px;
    border-right: 15px;
}

.font-green {
    color: #39b54a;
}

.bg-green {
    background-color: #39b54a;
}

.price {
    font-size: 18px;
}

.disccount {
    font-size: 16px;
}

.description {
    font-size: 16px;
}

.last-visit {
    font-size: 24px;
}

footer {
    text-align: center;
    padding: 15px;
}

.center {
    text-align: center;
}

.icono {
    font-size: 2em;
    margin-bottom: 10px;
}

.copyright {
    margin-top: 10px;
}

main {
    width: 90%;
    text-align: center;
    padding: 15px;
}

.article {
    margin-bottom: 10px;
}

.burger-menu {
    text-align: center;
    
}

.burger-menu i {
    width: 26px;
    height: 26px;
    background-color: #1259c3;
    color: #ebebeb;
}

.nav-section {

    margin: 10px;
}

.nav-section li {
    list-style: none;

}

.nav-section li a {
    color: black;
    text-decoration: none;

}

.border {
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.margin {
    margin:  0 auto;
}

.text-align {
    text-align:left
}

.margen {
    margin-top: 15px;
}